/* Resets */
label {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Base Styles */
body {
    background: #e1e1e1;
    font-family: "Roboto", sans-serif;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* Utility classes */
.isHidden {
    width: 1px !important;
    position: absolute !important;
    height: 1px !important;
    padding: 0 !important;
    border: 0 !important;
    margin: 0 !important;
    clip: rect(1px 1px 1px 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
    opacity: 0;
}

.overflow-x-auto { overflow-x: auto; }

// Animations
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.select-input {
    & {
        display: block;
        font-size: 16px;
        font-family: sans-serif;
        color: white; /* Change to white */
        line-height: 1.3;
        padding: 0.6em 1.4em 0.5em 0.8em;
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 1px solid #342f2b;
        box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #342f2b;
        background-image: url("../images/plus.svg"),
            linear-gradient(to bottom, #342f2b 0%, #342f2b 100%);
        background-repeat: no-repeat, repeat;
        background-position: right 0.5em top 50%, 0 0;
        background-size: 0.65em auto, 100%;
    }
    &::-ms-expand {
        display: none;
    }
    &:hover {
        border-color: #888;
    }
    &:focus {
        border-color: #aaa;
        box-shadow: 0 0 1px 1px rgba(141, 141, 141, 0.7);
        box-shadow: 0 0 0 1px -moz-mac-focusring;
        color: white;
        outline: none;
    }
    & option {
        font-weight: normal;
    }
}

.orders {
    & + & { margin-top : 80px; }
    &__filters {
        & {
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
        }
        & > * {
            margin: 10px;
        }
    }

    &__col {
        & {
            position: relative;
            display: flex;
            align-items: center;
            background-color: #342f2b;
            color: white;
            padding: 3px 10px;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4) {
            flex-grow: 1;
        }
        /* height: 100%; */
    }

    &__date { justify-content: center; flex-basis: 100%; }

    &__datepicker {
        background-color: transparent;
        color: white;
        background-image: url("../images/plus.svg");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border: 0;
    }

    &__search {
        // position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}

/* Search */

.search {
    &__toggler {
        width: 50px;
        height: 30px;
        cursor: pointer;
        position: relative;
        z-index: 10;
        text-align: center;
    }

    &__indicator {
        width: 50px;
        height: 30px;
        position: absolute;
        left: auto;
        top: 0;
        text-align: center;
    }
    &__indicator-icon {
        line-height: 30px;
    }
    &__input {
        position: absolute;
        top: 100%;
        left: 0;
        width: 0;
        padding: 0;
        border: 0;
        transition: all 0.5s;
        z-index: 1;
    }

    &__checkbox:checked ~ &__input {
        width: 100%;
        padding: 9px;
    }
}

.popup {
    & {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        // bottom: 125%;
        // left: 50%;
        // margin-left: -80px;
    }

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    &--visible {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }
}

// .search-toggler {
//   width: 50px;
//   height: 30px;
//   cursor: pointer;
//   position: relative;
//   z-index: 10;
//   text-align: center;
// }

/* .search__indicator--closed .search__indicator-icon { transform: rotate(90deg); } */

/* .search__input-wrapper {
    width: 0; 
    height: 30px;
    float: right;
    position: relative;
    border-bottom: 2px solid #7ba69b;
    border-left: 2px solid #7ba69b;
    transition: all .4s ease-in-out;
} */

/* 
.search__input-wrapper > * {
    width: 100%;
    height: 100%;
    padding: 8px;
    position: absolute;
    border: none;
    background: none;
    font-size: 14px;
} */
/* 
.search__toggle-checkbox:checked + .search__indicator + .masthead-search-search {
    width: 250px;
} */

/* .orders__search {
    display: flex;
    justify-content: space-between;
} */

/* .search__indicator::before {
    content: "";
    width: 14px;
    height: 3px;
    display: block;
    position: absolute;
    top: 20px;
    right: 23px;
    background: white;
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    transform: rotate(130deg);
    transition: all .35s ease-in-out;
}

.search__indicator::after {
    content: '';
    position: relative;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid rgb(250, 0, 0);
    margin: auto
    margin-top: -10px;
    border-radius: 50%;
    transition: all .35s ease-in-out;
} */

/* Prod block */
.prod-block {
    & {
        margin-top: 20px;
    }
    &--tailor &__box--checked {
        background: yellow;
        color: black;
    }
    &__info {
        position: relative;
    }
    &__text {
        padding: 10px;
        background-color: #342f2b;
        color: white;
    }
    &__imgs > *:not(:first-child) {
        display: none;
    }
    &__img {
        display: block;
        padding-bottom: 150%;
        width: 100%;
        height: 0;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &__comment {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 3px;
        background-color: #342f2b;
        color: white;
        text-align: center;
    }

    &__size { display: flex; align-items: flex-start; }

    &__box {
        & { position: relative; color: white; text-align: center; background: #342f2b; margin: 5px; }
        &[data-first=true],&[data-last=true] {
            cursor: pointer;
        }
    }

    &__box--checked { background: #3a7f60; }
    &__box--checked[data-last="true"]:before { content: attr(data-num); line-height: 35px; }

    &__box--started {
        background: #3a7f60;
    }
   
    &__size > &__box {
        min-width: 50px;
        padding: 5px;
        line-height: 25px;
    }

    &__counter {
        display: flex;
        flex-wrap: wrap;
        margin: 0px 0px 10px 5px;
    }

    &__counter > &__box {
        width: 40px;
        line-height: 25px;
        height: 35px;
    }
}

@media all and (max-width: 575px) {
    .prod-block__sizes {
        margin-top: 10px;
    }
}
